<div id="caption">
	<a id="change-lang" href="javascript:"><%= msg( "order.detail.action.changeLanguage" ) %></a>
	<h2 id="logo">Lunch<em>4</em>You</h2>
	<h2 id="screen-name"></h2>
</div>

<div id="detail">
</div>
