/*
	General input form 
	================================================= 
*/

.input-form {
	background-color: #cdf;
	padding: 0.5em;
	width: 60%;
	margin: auto;
	border: 1px solid silver;
	border-radius: 4px;
}

.input-form-row {
	padding : 2px 0px;
	clear : both;
	border : 0px black solid;
}

.input-form-buttons-row {
	text-align : center;
	padding : 0.5em;
	clear : both;
	border : 0px red solid;
}

.input-form label {
	float: left;
	width: 14em;
	line-height: 100%;
	color: gray;
	font-size : 11pt;
	text-align : right;
	padding-right : .5em;
	padding-top : 5px;
	text-shadow: 0 1px 0 white;
}

.input-form label span {
	font-size : 9pt;
}

.input-form input[type=text] {
	width: 20em;
}

.input-form textarea {
	width : 25em;
	height : 6em;
}
