body {
	font-family: Lucida Sans, Lucida Grande, Tahoma, sans-serif;
	margin: 0;
	line-height: 22px;
	width: 960px;
	margin: 0 auto;
}

h1 {
	padding: 10px 0 30px;
	margin: 0;
	line-height: 30px;
	color: #c84;
}

h2 {
	margin: 0.5em 0;
}

h3 {
	margin-top: 0;
}

h2 em,h3 em {
	font-style: normal;
	color: navy;
}

h4 {
	margin-bottom: 0;
	text-align: center;
}

ul {
	padding: 0;
	list-style: none;
}

form {
	margin-bottom: 1em;
}

a {
	color: #080;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.dim {
	color: #c84;
}

hr {
	border: none;
	border-top: 1px solid grey;
}


.modifiable {
	font-weight: bold;
}

.link-button {
	display: inline;
	color: blue;
	font-size: 0.5em;
	cursor: pointer;
}

.in-place {
	margin: auto;
	background-color: white;
	border: 1px solid silver;
	clear: both;
}


li.category {
	margin-bottom: 1em;
}


#main-header {
	width : 100%;
	background-color: #f80;
	color: white;
}

#main-header td{
	vertical-align: bottom;
}

#main-header a {
	color : white;
}

#logo-cell {
	width : 300px;	
	text-align: left;
}

#middle-cell {
	width : *;
	text-align: center;
	vertical-align: middle;
}

#service-cell {
	width : 300px;
	text-align: right;
	vertical-align: middle;
	margin : 0px;
	white-space: nowrap;
}

#navigation-cell {
	text-align: center;
}

#main-logo {
	text-shadow: 1px 1px 2px #840;
	float: left;
	font-size: 2em;
	padding : 5px;
	font-weight: bold; 
	border : 0px black solid;
}

#main-logo em {
	color: yellow;
	font-style: normal;
	text-shadow: none;
}

#main-screen-name {
	display : none;
	text-align: center;
	margin: 0;
	width: 50%;
	left : 200px;
	border : 0px blue solid;
}

#main-customer-info {
	font-size : 0.8em;
	margin : 0px;
	padding-right : 4px;
	border : 0px black solid;	
}

#main-customer-link {
}

#main-lang {
	color: #ff8;
	font-size: 75%;
	text-align: right;
	border : 0px red solid;
}

#main-lang-selector {
	margin: 4px 0px;
	padding : 0px;
	border: 0px blue solid;
}

.main-lang-flag {
	margin: 0px 0px -2px 0px;
	width: 17px;
	height: 13px;
	overflow : hidden;
	border: 0px black solid;
}

#main-navigation {
	border : 0px blue solid;
	text-align: center;
}

#main-navigation a {
	padding : 4px;
}


#main-detail {
	padding: 1em;
	background-color: #ffc;
}

/*
	General message dialogue 
	================================================= 
*/

.general-message-dialogue {
	background-color: #eeeeee;
	padding: 0.5em;
	width: 60%;
	margin: auto;
	border: 1px solid silver;
	border-radius: 4px;
}


/* TODO change to general input form styles */
#confirm-order, #send-referral {
	padding-top : 20px;
	text-align: center;
}

/*
	Customer form 
	================================================= 
*/

.customer-box {
}

/*
	Order form 
	================================================= 
*/

#articleName {
	font-weight : bold;	
}

#articleDescription {
	font-size : .8em;
}

#setDdlDiv {
	font-size: .8em; 
}

#note {
	width : 25em;
	height : 4em;
}

#description {
	margin: 0 0 3em;
}


/*
	Referral form 
	================================================= 
*/

#referralMessage {
	width : 25em;
	height : 6em;
}

/*
	Menu (article list) 
	================================================= 
*/

#menuDiv {
	width : 100%;
	border : 0px red solid;
	Xbackground: url("../bg_content2.png") repeat-y scroll left top transparent;
}

#menuTable {
	table-layout : fixed;
	border-collapse : collapse;
	width : 80%;
	border : 0px black solid;
	margin-left : 80px;
}

#menuTable td {
	text-align: left;
	border : 0px #eeeeee solid;
	font: Arial; 
}

#menuTable tr.headerRow td{
	height : 0px;
	padding : 0;
}

#menuTable td.categoryCell {
	font-size : 1.2em;
	padding : 20px 0px 10px 0px;
}

#menuTable tr.articleRow td{
}

#menuTable td.codeCell {
	width : 50px;
	vertical-align : top;
	padding-top : .6em;
	padding-left : 10px;
	font-style : italic;
	color : gray;
}

#menuTable td.articleCell {
	width : *;
	white-space: nowrap;
	padding-top : .5em;
	padding-bottom : .5em;
}

#menuTable td.articleCell span.meal-new-label {
	font-size : .8em;
	font-style : italic; 
	color : red;
}


#menuTable div.meal-header {
	display : block;
	clear : both;
}

#menuTable a.meal {
	color : black;
	Xfont-weight: bold;
}

#menuTable a.meal-sold-out {
	text-decoration: line-through;
	Xcolor : lightgray;
}

#menuTable span.meal-sold-out-label {
	font-size : .8em;
	font-style : italic; 
	color : red;
}

#menuTable div.meal-description {
	font-style : italic;
	font-size : 0.8em;
	color : #9C822D;
	width : 100%;
	overflow : hidden;
	float : left;
}

#menuTable span.meal-padding {
	color : gray;
	font-size : .5em;
}

#menuTable td.priceCell {
	vertical-align : bottom;
	width : 100px;
	padding-left : 5px;
	padding-top : .5em;
	padding-bottom : .7em;
}

/** Contacts **/
#contacts {
	width : 100%;
	border : 0px black solid;
}

#contacts h3{
	border-bottom : 1px lightgray solid;
}

#contacts td {
	vertical-align: top;
}

#contacts-left {
	border : 0px blue solid;
	padding-right : 20px;
}

#contacts-right {
	border : 0px red solid;
}