body {
	font-family: Lucida Sans, Lucida Grande, Arial, sans-serif;
	margin: 0;
	line-height: 22px;
	width: 960px;
	margin: 0 auto;
}

h1 {
	padding: 10px 0 30px;
	margin: 0;
	line-height: 30px;
	color: #c84;
	text-align: center;
}

h2 {
	margin: 0.5em 0;
}

h3 {
	margin-top: 0;
	text-align: center;
}

h2 em,h3 em {
	font-style: normal;
	color: navy;
}

h4 {
	margin-bottom: 0;
	text-align: center;
}

ul {
	padding: 0;
	list-style: none;
}

form {
	margin-bottom: 1em;
}

a {
	color: #080;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	text-align: center;
}

.dim {
	color: #c84;
}

hr {
	border: none;
	border-top: 1px solid grey;
}

label {
	float: left;
	width: 10em;
	line-height: 160%;
	color: darkblue;
	text-shadow: 0 1px 0 white;
}

.modifiable {
	font-weight: bold;
}

.link-button {
	display: inline;
	color: blue;
	font-size: 0.5em;
	cursor: pointer;
}

.in-place {
	margin: auto;
	background-color: white;
	border: 1px solid silver;
	clear: both;
}

li.category {
	margin-bottom: 1em;
}

span.flag {
	display: block;
	width: 48px;
	height: 24px;
	margin: 0 auto 4px;
	border: 1px solid black;
	box-shadow: 0 0 8px 2px #ff8;
}

#cz {
	background-image: url("../cz.png");
}

#en {
	background-image: url("../en.png");
}

#caption {
	padding: 1em;
	background-color: #f80;
	color: white;
	overflow: auto;
	cursor: default;
}

#logo {
	text-shadow: 1px 1px 2px #840;
	float: left;
}

#logo em {
	color: yellow;
}

#screen-name {
	text-align: center;
	margin: auto;
	width: 50%;
	line-height: 2em;
}

#change-lang {
	float: right;
	color: #ff8;
	font-size: 75%;
	text-align: center;
}

#detail {
	padding: 1em;
	background-color: #ffc;
}

#customer-info {
	background-color: #cdf;
	padding: 0.5em;
	width: 60%;
	margin: auto;
	border: 1px solid silver;
	border-radius: 4px;
}

#customerForm {
	padding: 1em;
}

#customerForm form {
	margin: 0;
}

#customerForm td.label {
	text-align: right;
	padding-right: 0.5em;
	color: gray;
	font-size: 11pt;
}

#customerForm td label {
	width: auto;
	float: right;
}

#customerForm td.value input[type=text] {
	width: 20em;
}

#deliveryLocationDetails {
	clear: both;
}

#description {
	margin: 0 0 3em;
}

#confirm-order {
	text-align: center;
}

a.meal {
}

#menuTable {
	table-layout : fixed;
	border-collapse : collapse;
	width : 100%;
}

#menuTable td {
	border : 0px #eeeeee solid;
}

#menuTable tr.headerRow td{
}

#menuTable td.categoryCell {
	//width : 100%;
	font-size : 1.5em;
	font-weight : bold;
	padding-top : 20px;
}

#menuTable td.articleCell {
	width : *;
}

#menuTable td.priceCell {
	width : 100px;
}
