body {
	font-family: Lucida Sans, Lucida Grande, Tahoma, sans-serif;
	margin: 0;
	line-height: 22px;
	width: 960px;
	margin: 0 auto;
}

h1 {
	padding: 10px 0 30px;
	margin: 0;
	line-height: 30px;
	color: #c84;
	text-align: center;
}

h2 {
	margin: 0.5em 0;
}

h3 {
	margin-top: 0;
	text-align: center;
}

h2 em,h3 em {
	font-style: normal;
	color: navy;
}

h4 {
	margin-bottom: 0;
	text-align: center;
}

ul {
	padding: 0;
	list-style: none;
}

form {
	margin-bottom: 1em;
}

a {
	color: #080;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.dim {
	color: #c84;
}

hr {
	border: none;
	border-top: 1px solid grey;
}


.modifiable {
	font-weight: bold;
}

.link-button {
	display: inline;
	color: blue;
	font-size: 0.5em;
	cursor: pointer;
}

.in-place {
	margin: auto;
	background-color: white;
	border: 1px solid silver;
	clear: both;
}


li.category {
	margin-bottom: 1em;
}

#main-caption {
	Xpadding: 1em;
	background-color: #f80;
	color: white;
	overflow: hidden;
	cursor: default;
	clear : both;
	text-align: center;
	border : 0px green solid;
}

#main-caption a {
	color : white;
}

#main-logo {
	text-shadow: 1px 1px 2px #840;
	float: left;
	font-size: 2em;
	padding : 10px;
	font-weight: bold; 
	border : 0px black solid;
}

#main-logo em {
	color: yellow;
	font-style: normal;
	text-shadow: none;
}

#main-screen-name {
	display : none;
	text-align: center;
	margin: 0;
	width: 50%;
	Xline-height: 2em;
	left : 200px;
	border : 0px blue solid;
}

#main-customerInfo {
	float : right;
	Xline-height: 2em;
	font-size : 0.8em;
	padding : 0px 4px;
	margin : 4px;
	border : 0px black solid;	
}

#main-lang {
	float: right;
	color: #ff8;
	font-size: 75%;
	text-align: right;
	clear : right;
	border : 0px green solid;
}

#main-lang-selector-container {
	border : 0px violet solid;
	margin : 4px;
	float : right;
	width : 50px;
}

#main-lang-selector {
	float : right;
	margin: 0px;
	padding : 0px;
	border: 0px blue solid;
}

.main-lang-flag {
	display : block;
	margin: 0px;
	width: 17px;
	height: 13px;
	border: 0px black solid;
	margin : 4px;
}


.main-lang-flag-cz {
	background-image: url("../cz.gif");
}

.main-lang-flag-en {
	background-image: url("../en.gif");
}

#main-navigation {
	clear: both;
	color : black;
	border : 0px blue solid;
	text-align: center;
}

#main-navigation a {
	padding : 4px;
	Xborder-width : 1px 1px 0px 1px;
	Xborder-color : white;
	Xborder-style: solid;
}


#main-detail {
	padding: 1em;
	background-color: #ffc;
}

/*
	General message dialogue 
	================================================= 
*/

.general-message-dialogue {
	background-color: #eeeeee;
	padding: 0.5em;
	width: 60%;
	margin: auto;
	border: 1px solid silver;
	border-radius: 4px;
}

/*
	General input form 
	================================================= 
*/

.input-form {
	background-color: #cdf;
	padding: 0.5em;
	width: 60%;
	margin: auto;
	border: 1px solid silver;
	border-radius: 4px;
}

.input-form-row {
	padding : 2px 0px;
	clear : both;
}

.input-form-buttons-row {
	text-align : center;
	padding : 0.5em;
	clear : both;
	border : 0px red solid;
}

.input-form label {
	float: left;
	width: 12em;
	line-height: 160%;
	color: gray;
	font-size : 11pt;
	text-align : right;
	padding-right : .5em;
	text-shadow: 0 1px 0 white;
}


.input-form input[type=text] {
	width: 20em;
}

/* TODO change to general input form styles */
#confirm-order, #send-referral {
	padding-top : 20px;
	text-align: center;
}

/*
	Customer form 
	================================================= 
*/

.customer-box {
}

/*
	Order form 
	================================================= 
*/

#articleName {
	font-weight : bold;	
}

#articleDescription {
	font-size : .8em;
}

#setDdlDiv {
	font-size: .8em; 
}

#note {
	width : 25em;
	height : 4em;
}

#description {
	margin: 0 0 3em;
}


/*
	Referral form 
	================================================= 
*/

#referralMessage {
	width : 25em;
	height : 6em;
}

/*
	Menu (article list) 
	================================================= 
*/


a.meal {
}

#menuTable {
	table-layout : fixed;
	border-collapse : collapse;
	width : 100%;
}

#menuTable td {
	border : 0px #eeeeee solid;
}

#menuTable tr.headerRow td{
}

#menuTable td.categoryCell {
	//width : 100%;
	font-size : 1.5em;
	font-weight : bold;
	padding-top : 20px;
}

#menuTable td.articleCell {
	width : *;
}

#menuTable td.priceCell {
	width : 100px;
}
