<% var orders = this.ordersByDate; %>
<% var checkedItems = this.checkedItems %>
<% if ( orders.length == 0 ) { %>
	<span>There are no active orders at the moment.</span>
<% } %>

<!--
<input type="button" id="refreshList3" value="refresh"/>
-->

<b>Table by date</b>

	<div class="headerRow">
		<span class="orderItemSelector">
			<input id="orderItemSelectorAllCheckbox" type="checkbox" class="orderItemSelectorAllCheckbox">
		</span>
		<span class="orderAction">
			<span id="orderItemSelectorNotPrinted">Select not Printed</span>
		</span>

		<div id="orderActions">
			<span class="orderAction">
				<span id="ordersActionButton" action="close">close</span>
			</span>
			|
			<span class="orderAction">
				<span id="ordersActionButton" action="delete">delete</span>
			</span>
			|
			<span class="orderAction">
				<span id="ordersActionButton" action="print">print labels</span>
			</span>
		</div>

		<div style="clear : both;"></div>
	</div>

<% for ( var i = 0; i < orders.length; i++ ) { %>
		<%== $.View( '//backoffice/order/list3/views/ordersByDate.ejs', { order : orders[ i ], checkedItems : checkedItems } ) %>
<% } %>

