<% if ( this.length == 0 ) { %>
	<span>There are no active orders at the moment.</span>
<% } %>

<b>Table by date</b>

<% for ( var i = 0; i < this.length; i++ ) { %>
		<%== $.View( '//backoffice/order/list3/views/ordersByDate.ejs', this[ i ] ) %>
<% } %>

