body {
	font-family:Lucida Sans,Lucida Grande,Arial,sans-serif;
	margin:0;
	line-height:22px;
	width:1080px;
	margin:0 auto;
}
h1 {
	padding:30px 0 10px;
	margin-top:0;
	line-height:30px;
}


a {
	color:#ae3d26;
	text-decoration:none;
}

a:hover { text-decoration:underline; }

hr {
	border:none;
	border-top:1px dotted #000;
}

h2 {
	margin: 0.5em 0;
}

h3 {
	cursor: pointer;
	margin: 0;
	padding: 0.5em 0;
}

h4 {
	margin: 0.5em 0;
	color: gray;
}

br.pageBreak {
	page-break-after : always;
}

h5:HOVER {
	background-color: #eee;
}

div.tab-selectors{
	border : 0px grey solid;
	margin-bottom : 10px;
}

div.tab-selectors div.tab-selector{
	display : inline;
	text-decoration : underline;
	cursor : pointer;
}

#cookingViewTable {
	width: *;
	border-spacing : 10px;
	table-layout : fixed;
}


#cookingViewTable td{
	padding : 10px;
	vertical-align: top;
	border: 1px solid silver;
}

#meals1{
	overflow : hidden;
	width : 400px;
}


#meals1 h5 {
	margin: 0;
	padding: 0.25em;
	background-color: #ccf;
	color: #448;
	font-size: 1.2em;
	border-bottom : 4px white solid;
	cursor : pointer;
}

#meals1 .articleName {
	position : relative;
	width : 350px;
	white-space : nowrap;
	overflow : hidden;
	display : block;
	float : left;
	border : 0px black solid;
}

#meals1 .orderCount {
	float : right;
	padding-right : 0px;
	border : 0px black solid;
}

#meals3{
	width : 630px;
}

#meals3 .orderRow, .headerRow {
	background-color : #eeeeee;
	border: 1px lightgray solid;
	border-bottom : 0;
	padding : 2px;
}

#meals3 .orderAction {
	text-decoration : underline;
	color : blue;
	cursor : pointer;
	padding-left : 5px;
	padding-right : 5px;
}

#meals3 .orderItemSelector {
	padding : 0px;
	float : left;
	border : 0px black solid;
}

#meals3 .orderItemSelectorCheckbox, .orderItemSelectorAllCheckbox {
	margin : 4px;
}

#meals3 .articleName {
	width : 230px;
	white-space : nowrap;
	overflow : hidden;
	float : left;
	padding-left : 5px;
	border : 0px black solid;
}

#meals3 .customerDetails {
	width : 220px;
	white-space : nowrap;
	overflow : hidden;
	display : block;
	float : left;
	padding-left : 5px;
	border : 0px black solid;
}

#meals3 .deliveryLocation {
	width : 50px;
	white-space : nowrap;
	overflow : hidden;
	display : block;
	float : left;
	padding-left : 5px;
	border : 0px black solid;
}

#meals3 .orderTime {
	float : right;
	padding-right : 5px;
	border : 0px black solid;
}

#meals3 .note {
	width : 500px;
	white-space : normal;
	color : red;
	overflow : hidden;
	display : block;
	float : left;
	margin-left : 30px;
	border : 0px black solid;
}

/***************************************/

#meals2 #packagingTable{
	table-layout:fixed; 
	width : 1000px;
	border-spacing : 0px;
	//border-collapse:collapse;
	border : 2px black solid;
	font-size : 1.5em; 
}


#meals2 #packagingTable td{
	/* This coloroverrides all different colors for particular cells */
	border-color : black;
}


#meals2 .deliveryLocationCell {
	border : 2px red solid;
	width : 120px; 
	padding : 4px;
	vertical-align : top;
}

#meals2 .articlesCell {
	border : 0px red solid;
	padding : 0px;
	width : *; 
}

#meals2 .articlesTable {
	table-layout : fixed;
	width : 100%;
	border-spacing : 0px;
	//border-collapse:collapse;
	border : 0px black solid;
}


#meals2 .articlesTable td{
	padding : 0px;
}

#meals2 .articleCell {
	width : 500px; 
	padding : 4px;
	vertical-align : top;
	border : 2px gray solid;
}

#meals2 .ordersCell {
	width : *; 
	border : 0px gray solid;
}

#meals2 .ordersTable {
	table-layout : fixed;
	width : 100%;
	border-spacing : 0px;
	//border-collapse : collapse;
	border : 0px green solid;
}

#meals2 .ordersTable td {
	border : 2px lightgreen solid;
	height : 1.5em;
	padding-left : 4px;
}

span.switch {
	color: gray;
	font-family: monospace;
	font-weight: bold;
	font-size: 16pt;
	float : right;
}

div.customers {
	//background-color : red;
	display : none;
}

div.customer-details {
	padding-left : 20px;
}

div.customer-details span.location {
	float : right;
	//background-color : red;
	width : 100px;
}

input {
	margin: 0.5em auto;
	display: block;
}

input[type=text], input[type=password] {
	width: 100%;
}

#overlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(128, 128, 128, 0.5);
}

#login-form {
	width: 15em;
	margin: 10em auto;
	background-color: #eee;
	padding: 1em 2em;
	border: 1px solid gray;
}
