body {
	margin: 0;
}

#print-preview {
	background-color: silver;
	padding: 0.5em;
}

#print-preview .page {
	width: 420px; /* 210 x 2 */
	height: 594px; /* 297 x 2 */
	margin: auto;
	background-color: white;
	border: 1px solid gray;
}

#print-preview .page ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#print-preview .page .label-position {
	/*margin: 0;
	padding: 0;*/
	width: 209px;
	float: left;
	height: 119px;
	text-align: center;
	font-size: 50%;
	line-height: 1.2em;
}

#print-preview .page .label-position:HOVER {
	background-color: #fee;
}

#print-preview .page ul li {
}

#print-preview .page .not-used {
	background-color: #eee;
	line-height: 119px;
}

#print-preview .page .not-used:HOVER {
	background-color: #efe;
}
