		<h2>Lunch4You Back-office</h2>
		<hr>
		<div id="navigation">
			<div id="tabSelectors" class="tab-selectors">
				<div id="tabSelector1" class="tab-selector">Cooking</div> |
				<div id="tabSelector2" class="tab-selector">Packaging</div> |
				<div id="tabSelector3" class="tab-selector">Menu Administration</div>
			</div>
			<div id="menuNavigation" class="menu-navigation">
				Menu - Restaurant (<div id="menuLink" class="menu-link" menuType="restaurantWeekly" locale="en">EN</div> | <div id="menuLink" class="menu-link" menuType="restaurantWeekly" locale="cz">CZ</div>)
				|
				<div id="menuLink" class="menu-link" menuType="restaurantDaily">Menu - Daily Special</div>
			</div>
			<br>
		</div>
		<div class="tab-contents">
			<div id="tabContent0" style="display : block;" class="tab-content">
				<table id="cookingViewTable">
					<tr>
						<td id="meals1">
						</td>
						<td id="meals3">
						</td>
					</tr>
				</table>
			</div>
			<div id="tabContent1" style="display : none;">
				<div id="meals2"></div>
			</div>
			<div id="tabContent2" style="display : none;">
				<div id="menuEdit"></div>
			</div>
		</div>
