
<table id="contacts" style="font-family : Helvetica CE">
	<tr>
		<td id="contacts-left">
			<h2>Lunch4you s.r.o.</h2>
			<br>
			<h3><%= msg( "contacts.header.deliveryService") %>:</h3>	
			Roztylská 2232/17 <br>
			14900 Praha 11 - Chodov <br>
			tel: +420 774 096 313 <br>
			email: <a href="mailto:lunch4you.cz@gmail.com">lunch4you.cz@gmail.com</a><br>
		
			<br>
			<h3><%= msg( "contacts.header.restaurant") %>:</h3>	
			OC Růže
			Roztylská 2232/17<br>
			148 00 Praha 4 - Chodov <br>
			<br>
			Vstup do restaurace / kavárny na rohu OC Růže (mezi stánky Gyros a Pizza UNO) <br>
			
		</td>
		<td id="contacts-right">
			<img style="display:block;" src="OC_Ruze.jpg" alt="OC Ruze"></img>
			<!--img style="display:block;" src="map_OC_Ruze.jpg" alt="OC Ruze"></img-->
			<br>
			<!--iframe frameBorder="0" style="border:none" width="308" height="190" src="http://api4.mapy.cz/frame?w=308&amp;h=190&amp;x=14.491158201893061&amp;y=50.03060013573989&amp;z=15&amp;o=0&amp;url=http://www.mapy.cz/s/66Pb&amp;mini=1&amp;layer=1&amp;dx=14.491158201893061&amp;dy=50.03060013573989&amp;dt=čtvrť Praha 4, Praha, okres Hlavní město Praha" target="New Window"></iframe-->
			<a href="http://www.mapy.cz/s/66Pb"><img src="http://www.mapy.cz/img/sharing-link-icon.png" width="88" height="31" border="0" alt="Najdete nás na mapy.cz"></a>
		</td>
	</tr>
</div>


