
<table id="contacts" style="font-family : Helvetica CE">
	<tr>
		<td id="contacts-left">
			<h2>Lunch4you s.r.o.</h2>
			<br>
			<h3><%= msg( "contacts.header.deliveryService") %>:</h3>	
			tel: +420 774 096 313 <br>
			email: <a href="mailto:lunch4you.cz@gmail.com">lunch4you.cz@gmail.com</a><br>
					
		</td>
	</tr>
</div>


