<h3><%= name %></h3>
<p><%= description %></p>
<% if ( this.dailyLimit != null ) { %>
	<p>Last <%= dailyLimit %> piece(s) left!</p>
<% } %>
<% if ( !this.isActive ) { %>
	<p>This article is not available at the moment.</p>
<% } %>
