<% var categoryGroup = this %>

<h3><%= localize( categoryGroup.category, "name" ) %></h3>
<ul>
	<% for ( var i = 0; i < categoryGroup.items.length; i++ ) { %>
	<li>
		<%== $.View( '//shop/menu/list/views/meal.ejs', categoryGroup.items[ i ] ) %>
	</li>
	<% } %>
</ul>
