<% var menuGroup = this %>

<h3><%= localize( menuGroup.category, "name" ) %></h3>
<ul>
	<% for ( var i = 0; i < menuGroup.articles.length; i++ ) { %>
	<li>
		<%== $.View( '//shop/menu/list/views/meal.ejs', menuGroup.articles[ i ] ) %>
	</li>
	<% } %>
</ul>
