<% var categoryWithArticles = this %>
<% var category = categoryWithArticles.entity %>
<% var articles = categoryWithArticles.items %>

<h3><%= localize( category, "name" ) %></h3>
<ul>
	<% for ( var i = 0; i < articles.length; i++ ) { %>
	<li>
		<%== $.View( '//shop/menu/list/views/article.ejs', articles[ i ] ) %>
	</li>
	<% } %>
</ul>
