<a id="change-lang" href="javascript:"><%= msg( "order.detail.action.changeLanguage" ) %></a>
<h2><span class="dim">Lunch4You - <%= currentView() %></span></h2>
<hr/>

<ul>
	<% for ( var i = 0; i < this.length; i++ ) { %>
	<li class="category">
		<%== $.View( '//shop/menu/list/views/category.ejs', this[ i ] ) %>
	</li>
	<% } %>
</ul>
