<div id="menuDiv">

	<table id="menuTable" border="1">
		<tr class="headerRow">
			<td class="codeCell"></td>
			<td class="articleCell"></td>
			<td class="priceCell"></td>	
			<td class="priceCell"></td>	
			<td class="limitCell"></td>	
			<td class="actionsCell"></td>	
			<td class="actionsCell"></td>	
			<td class="actionsCell"></td>	
			<td class="actionsCell"></td>	
		</tr>
	<% for ( var i = 0; i < this.length; i++ ) { %>
		<% var category =  this[i].entity; %>
		<% var articles = this[i].items %>
		<tr class="categoryRow" categoryId="<%= category.id %>">
			<td colspan="5" class="categoryCell">
				<%= category.name_cz %>
				<a href="javascript:" class="createArticleLink" categoryId="<%= category.id %>">New Article</a>
			</td>
		</tr>
		<% for ( var j = 0; j < articles.length; j++ ) { %>
			<% var article = articles[j]; %>
			
			<%== $.View( '//backoffice/menu/edit/views/articleRow.ejs', article ) %>			
			
		<% } %>
		
	<% } %>
	</table>
</div>