<form id="login-form" action="javascript:">
	<label for="login-username">User:</label>
	<input id="login-username" type="text" name="j_username" />
	<label for="login-password">Password:</label>
	<input id="login-password" type="password" name="j_password" />
	<input type="submit" value="Log In" />
</form>
