<% if ( this.length == 0 ) { %>
	<li>There are no active orders at the moment.</li>
<% } %>

<b>Table by articles</b>

<% for ( var i = 0; i < this.length; i++ ) { %>
		<%== $.View( '//backoffice/order/list1/views/articleWithOrders.ejs', this[ i ] ) %>
<% } %>

