<% console.log( this ) %>
<% if ( this.length == 0 ) { %>
	<li>There are no active orders at the moment.</li>
<% } %>
<table style="table-layout:fixed; width : 600px; border-width : 2px;" cellspacing="0" cellpadding="0">
<% for ( var i = 0; i < this.length; i++ ) { %>
	<tr>
		<%== $.View( '//backoffice/order/list2/views/deliveryLocationWithArticles.ejs', this[ i ] ) %>
	</tr>
<% } %>
</table>

