			body{
				font-family : Lucida Grande;
				background-color : white;
			}
			
			h4 {
				margin-bottom : 0.1em;
			}
			
			p {
				margin-top : 0.2em;
				margin-bottom : 1em;
			}
			
			div.headerText, div.footerText, hr {
				width : 900px;
				text-align : justify;
				
			}
			
