<% var orderResult = this.orderResult %>

<div class="general-message-dialogue">
	<%= msg( "order.detail.action.orderedMsg_" + orderResult.resultCode ) %>
</div>

<p><a href="#view=menu&token=<%= Shop.params.token %>"><%= msg( "order.detail.viewMenu" ) %></a></p>
