<div id="caption">
	<a id="change-lang" href="javascript:"><%= msg( "order.detail.action.changeLanguage" ) %></a>
	<h2><span class="dim">Lunch4You - <%= currentView() %></span></h2>
	<hr/>
</div>

<div id="detail">
</div>
